.call_to_action {
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px black;
  width: 70%;
  margin: -30px auto 100px;
  border-radius: 12px;
}

.footer {
  background-color: #f85f00;
  margin-top: 200px;
}

.hit_me_up_section {
  background-color: black;
  border-radius: 12px;
  height: 100px;
  padding-top: 30px;
}

.hit_me_up_section p {
  text-align: right;
  color: white;
}

.hit_me_up_button {
  color: white;
  border-color: #f85f00;
  border-radius: 30px;
  width: 200px;
  height: 45px;
}

.hit_me_up_button:hover {
  border-radius: 30px;
  color: white;
  background-color: #f85f00;
  border-color: #f85f00;
}

.footer_information {
  text-align: center;
  margin-bottom: 100px;
}

.image {
  width: 4%;
  margin-right: 10px;
}
